<div class="outer-wrapper">
  <div class="interactive-board">
      <div class="nav">
        <nav>Result</nav>
      </div>

      <div class="result-list">
        <ng-template ngFor [ngForOf]="results" let-result>
            <app-result-list-item
            class="result-lits-item"
            [possibility]="result.possibility"
            [info]="result.info"
            [list]="result.list">
              {{result.title}}
            </app-result-list-item>
        </ng-template>
      </div>
  </div>

  <div class="chat-board">
    <div class="nav">
      <a href="/">
        <nav>Back</nav>
      </a>
    </div>

    <div class="conversation">
      <ng-template ngFor let-message [ngForOf]="messages">
            <div class="message">
              <div class="padding">
                <div
                class="image"
                [style.background-image]="'url(' + userImages[message.username] + ')'">
                    <div class="dropdown">
                      <div class="dropdown-image"
                      [style.background-image]="'url(' + userImages[message.username] + ')'">
                          <div class="cover">
                          </div>

                          <div class="headline">
                            {{message.username}}
                          </div>
                      </div>
                    </div>
                </div>
              </div>

              <div class="template">
                <div class="header">
                    <span class="username">
                      <b>{{message.username}}</b>
                    </span>

                    <span class="time">
                      <time>{{message.time | date: "hh:mm"}}</time>
                    </span>
                </div>

                <div class="content" [ngSwitch]="message.type">
                    <div *ngSwitchCase="'time'">

                    </div>

                    <div *ngSwitchCase="'chat-box'">
                      <app-chat-box>
                        {{message.content}}
                      </app-chat-box>
                    </div>

                    <div *ngSwitchCase="'checkboxes'">
                      <app-checkboxes [checklist]="message.content.checklist">
                        {{message.content.title}}
                      </app-checkboxes>
                    </div>
                </div>
              </div>
            </div>
      </ng-template>
    </div>

    <div class="chat-input">
      <input
      #chatInput type="text"
      (keydown.enter)="
        send(chatInput.value);
        chatInput.value = ''"
        placeholder="Type a message...">
    </div>
  </div>
</div>
