*::-webkit-scrollbar
  width 10px

*::-webkit-scrollbar-track
  background #ddd

*::-webkit-scrollbar-thumb
  background #888
  width 10px

.outer-wrapper
  display flex

  width 100%
  height 100%

  padding 0
  margin 0

  .nav
    display flex
    align-items center

    padding-left 30px
    padding-right 30px

    height 60px

    font-family "Lato"
    font-weight bold
    font-size 20px

    a
      color #333
      text-decoration none

  .interactive-board
    display flex
    flex-flow column nowrap
    width 23em

    box-shadow 0 10px 15px #ddd

    border-radius 5px
    z-index 2

    .nav
      flex 0 0 auto

    .result-list
      flex 1 1 auto
      overflow-y auto
      overflow-x hidden

  .chat-board
    display flex
    flex-flow column nowrap

    flex 1 1 auto

    .nav
      flex 0 0 auto
      border-bottom 1px solid #eee

    .conversation
      flex 1 1 auto

      padding-top 30px
      padding-bottom 30px
      width 100%

      border-bottom 1px solid #eee
      background white

      color #333
      font-family Lato
      font-size 17px

      overflow-y auto

      .message
        display flex
        padding 8px 30px 8px 30px

        &:hover
          background white

          cursor pointer

        .padding
          padding-right 14px

          .image
            position relative

            width 50px
            height 50px

            color transparent

            object-fit cover
            background-size cover
            background-position center

            border-radius 8px
            border none

            .dropdown
              position absolute
              visibility hidden

              width 320px
              height 240px

              margin-top -10px
              margin-left 10px

              top auto
              bottom auto
              left 100%

              background white

              box-shadow 0 5px 15px #ddd

              border-radius 3px

              .dropdown-image
                position relative
                height 240px

                background-size cover
                background-position center

                border-radius 3px

                z-index 2

                .cover
                  position absolute
                  top 0
                  right 0
                  left 0
                  bottom 0

                  border-radius 3px

                .headline
                  position absolute

                  bottom 0px
                  left 0
                  right 0

                  padding-left 20px
                  padding-bottom 10px

                  display flex
                  align-items center

                  color white

                  font-family Lato
                  font-size 24px
                  font-weight bold

            &:hover .dropdown
              visibility visible

        .template
          .header
            .username
              margin-right 10px

              font-size 17px
              font-weight bolder

            .time
              font-size 14px
              color #888

          .content
            font-size 17px
            background transparent

    .chat-input
      display flex

      flex 0 0 auto
      padding 20px 30px 25px 30px

      input
        padding 12px 10px
        padding-right 48px

        flex 1 1 auto
        border 1px solid #aaa

        color #333
        font-family Lato
        font-size 17px

        background transparent

        outline none
        border-radius 3px
